RewriteEngine On

# set URI to /index.html/200 if query string is id=200
RewriteCond %{QUERY_STRING} (?:^|&)id=(200|1)(?:&|$) [NC]
RewriteRule ^(index\.html)/?$ $1/%1 [NC]

# set SECURED var to 1 if URI is /index.html/200
SetEnvIfNoCase Request_URI "^/index\.html/(200|1)" SECURED

# enforce auth if SECURED=1
AuthType Basic
AuthName "Login Required"
AuthUserFile /full/path/to/passwords
Require valid-user
Order allow,deny
Allow from all
Deny from env=SECURED
Satisfy any
